* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    width: 320px;
    height: 320px;
    margin: 15px auto; 
}

.container .square {
    background-color: #777;
    border: 1px solid #999;
    flex: 1 0 6.25%;
    aspect-ratio: 1 / 1;
}

#recast {
    display: block;
    margin: 10px auto 5px;
    background-color: #444;
    border: 2px solid #bbb;
    border-radius: 12px;
    padding: 7px;
    color:#bbb; 
    
}